<ion-header>
  <ion-toolbar color="light">
    <ion-button size="small" color="medium" shape="round" slot="start" (click)="goBack()" routerDirection="back" left>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ (exercise$ | async)?.name }}</ion-title>
    <!-- <ion-label>{{ exercise?.name }}</ion-label>
    <ion-label>{{ exercise?.desc }}</ion-label>
    <ion-label>{{ exercise?.time }}</ion-label>
    <ion-label>{{ exercise?.sets }}</ion-label> -->
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
  <ng-container *ngIf="exercise$ | async as exercise">
    <ion-button expand="block" color="danger" shape="round" (click)="goBack()" routerDirection="back" left>
      <ion-icon name="barbell-outline"></ion-icon>
      {{ exercise.sets }}
    </ion-button><br>
    <ion-button size="large" color="warning" shape="round" expand="block" (click)="goBack()" routerDirection="back" left>
      <ion-icon name="help-circle-outline"></ion-icon>
      {{ exercise.desc }}
    </ion-button>
    <ion-button size="large" shape="round" color="tertiary" shape="round" (click)="goBack()" routerDirection="back" left>
      <ion-icon name="alarm-outline"></ion-icon>
      {{ exercise.time }}
    </ion-button>
  </ng-container>

  
  <div id="countdown">
    <div id="countdown-number"></div>
    <svg>
      <circle r="18" cx="20" cy="20"></circle>
    </svg>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" size="large" shape="round" color="tertiary" shape="round" (click)="modifyExercise()" routerDirection="back" left>
    Modify
    </ion-button>
</ion-footer>