<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Routines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let routine of routines$ | async;">
      <ion-item [routerLink]="[routine?.id]" routerLinkActive="true">
        <ion-label>{{ routine.name }}</ion-label>
        <ion-badge color="success" slot="end" *ngIf="isOwner(routine)">
          owner
        </ion-badge>
        <ion-badge slot="end" *ngIf="isWriter(routine)">
          writer
        </ion-badge>
        <ion-badge color="tertiary" slot="end" *ngIf="!isOwner(routine) && !isWriter(routine)">
          reader
        </ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(routine)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="addRoutine()">Add Routine</ion-button>
</ion-footer>