<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="stacked">email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button [disabled]="registerForm.invalid" expand="block" type="submit">Validate</ion-button>
  </form>
  <p>{{errorMessage}}</p>
</ion-content>

<ion-footer>
  <ion-button expand="block" [routerLink]="['/login']">Login</ion-button>
</ion-footer>